In [83]:
import math

In [84]:
#Example dataset
#lets say we have a dataset with 2 classes , A and B
# in data set of 10 elements we have 4 elements of class A and 6 elements of class B

# number of elements of class A
n_a = 4
# number of elements of class B
n_b = 6
# total number of elements
n = n_a+n_b

In [85]:
#lets calculate the proportion of elements of class A
p_a = n_a/n
#lets calculate the proportion of elements of class B
p_b = n_b/n
#lets calculate the entropy
entropy = -p_a*math.log2(p_a) - p_b*math.log2(p_b)
#lets print the entropy
print(entropy)

0.9709505944546686

In [86]:
# gini impurity
gini_impurity = 1 - (p_a**2 + p_b**2)
print(gini_impurity)

0.48

In [87]:
#information gain
n_1_A , n_1_B = 2,3
n_2_A , n_2_B = 3,2

P_1_A = n_1_A/(n_1_A+n_1_B)
P_1_B = n_1_B/(n_1_A+n_1_B)
# entropy 1
entropy_1 = -P_1_A*math.log2(P_1_A) - P_1_B*math.log2(P_1_B) if P_1_A and P_1_B else 0
P_2_A = n_2_A/(n_2_A+n_2_B)
P_2_B = n_2_B/(n_2_A+n_2_B)
# entropy 2
entropy_2 = -P_2_A*math.log2(P_2_A) - P_2_B*math.log2(P_2_B) if P_2_A and P_2_B else 0


information_gain = entropy - ((n_1_A+n_1_B)/n*entropy_1 + (n_2_A+n_2_B)/n*entropy_2)
print(information_gain)

0.0

In [88]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# label encoding
from sklearn.preprocessing import LabelEncoder
# train test split
from sklearn.model_selection import train_test_split
# confusion matrix
from sklearn.metrics import confusion_matrix
# accuracy
from sklearn.metrics import accuracy_score
# classification report
from sklearn.metrics import classification_report
# decision tree
from sklearn.tree import DecisionTreeClassifier
#simple imputer
from sklearn.impute import SimpleImputer

In [89]:
# load titanic dataset
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [90]:
# drop deck column
df = df.drop('deck',axis=1)
# impute missing values using simple imputer on age and fare columns
df['age'] = SimpleImputer(strategy='median').fit_transform(df['age'].values.reshape(-1,1))
df['fare'] = SimpleImputer(strategy='median').fit_transform(df['fare'].values.reshape(-1,1))
# impute missing values using simple imputer on embarked column
imputer = SimpleImputer(strategy='most_frequent')
df[['embarked']] = imputer.fit_transform(df[['embarked']])
#also on embark_town
imputer = SimpleImputer(strategy='most_frequent')
df[['embark_town']] = imputer.fit_transform(df[['embark_town']])

In [91]:

df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [92]:
# encode the categorical data and object data
for column in df.columns:
    if df[column].dtype == np.number:
        continue
    df[column] = LabelEncoder().fit_transform(df[column])

C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:
C:\Users\nhash\AppData\Local\Temp\ipykernel_8516\1114938932.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:

In [93]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,2,1,22.0,1,0,7.2500,2,2,1,1,2,0,0
1,1,0,0,38.0,1,0,71.2833,0,0,2,0,0,1,0
2,1,2,0,26.0,0,0,7.9250,2,2,2,0,2,1,1
3,1,0,0,35.0,1,0,53.1000,2,0,2,0,2,1,0
4,0,2,1,35.0,0,0,8.0500,2,2,1,1,2,0,1

In [94]:
# split the dataset
X = df.drop(['survived','alive'],axis=1)
y = df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [95]:
# build decision tree
clf = DecisionTreeClassifier(criterion='entropy',random_state=42,max_depth=3)    
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [96]:
#evaluate the model
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      0.91      0.86       104
           1       0.85      0.71      0.77        75

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.82       179

[[95  9]
 [22 53]]

In [97]:
#save the model using export_graphviz
from sklearn.tree import export_graphviz
export_graphviz(clf,out_file='tree1.dot',feature_names=X.columns,rounded=True,filled=True)