# feature scaling and feature encoding

## what is feature scaling

feature scaling is the method  of transforming the range of independent variables or features of data into a common scale.

it is the method to limit the range of variables so that they can be compared on common ground

## why is feature scaling important

it helps algorithm convert faster and models perform better,especially for models like linear regression,logistic regression and suport vector matchines

# methods for features scaling

1. Min max scaling
2. standard scaling (z score normalization)
3. robust scaling
4. logrithmic scaling

### scikit learn is the important library for feature scaing

# 1. Min Max scaling
x = original value

x' = scaled value

so'

x' = x - min(x) / (max(x)-min(x))

for example :

if x = 3000 and maximum value in  the dataset is 5000 and minimum  value is 2000, then we will get:

x' = 3000 - 2000 / 5000 - 3000

x' = 1000 / 2000

x' = 0.5

# 2. Standard scaling (z score normalization)
x'  = (x - u)/s, where u is the mean of x and s is the standard daviation of x

the range  of z scores can be [-3 to +3]
68% of values will lie within one std deviation from the mean

95% of values will lie within two std deviations from the mean

99.7% of values will lie within three std devations from the mean

# 3. Robust scaling
x' = x - median(x) / IQR(x)

# 4. Logrithmic scaling
log 10 (x)

In [1]:
# pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nhash\appdata\local\programs\python\python311\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\nhash\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\nhash\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\nhash\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nhash\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

# min max scaling

In [3]:
# example of min max scaling using pandas
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
# sample data
data = {'score': [234, 24, 14, 27, -74, 46, 73, -18, 59, 160]}
df = pd.DataFrame(data)
print(df.head())

   score
0    234
1     24
2     14
3     27
4    -74

In [5]:
# scale the data using min max scaler
scaler = MinMaxScaler()
df['score_scaled'] = scaler.fit_transform(df[['score']])
df.head()

   score  score_scaled
0    234      1.000000
1     24      0.318182
2     14      0.285714
3     27      0.327922
4    -74      0.000000

# standard scaler

In [6]:
# example of StandardScaler using pandas
import pandas as pd
from sklearn.preprocessing import StandardScaler
# sample data
data = {'score': [234, 24, 14, 27, -74, 46, 73, -18, 59, 160]}
df = pd.DataFrame(data)
print(df.head())

   score
0    234
1     24
2     14
3     27
4    -74

In [7]:
# scale the data using standard scaling
scaler = StandardScaler()
df['score_scaled'] = scaler.fit_transform(df[['score']])
df.head()

   score  score_scaled
0    234      2.162800
1     24     -0.367495
2     14     -0.487985
3     27     -0.331348
4    -74     -1.548300

# robust scaler

In [8]:
# example of robust scaling using pandas
import pandas as pd
from sklearn.preprocessing import RobustScaler
# sample data
data = {'score': [234, 24, 14, 27, -74, 46, 73, -18, 59, 160]}
df = pd.DataFrame(data)

scaler = RobustScaler()
df['score_scaled'] = scaler.fit_transform(df[['score']])
df.head()

   score  score_scaled
0    234      3.726415
1     24     -0.235849
2     14     -0.424528
3     27     -0.179245
4    -74     -2.084906

# Logrithmic scaling

In [12]:
import pandas as pd
import numpy as np
# random data with outliers
data = {'score': [234000, 24000, 1400000, 27000, 740000, 46000, 730000, 18000, 59000, 160000]}
df = pd.DataFrame(data)
# log tronsform
df['log_score'] = np.log(df['score'])
df['log2_score'] = np.log2(df['score'])
df['log10_score'] = np.log10(df['score'])

df

     score  log_score  log2_score  log10_score
0   234000  12.363076   17.836149     5.369216
1    24000  10.085809   14.550747     4.380211
2  1400000  14.151983   20.416995     6.146128
3    27000  10.203592   14.720672     4.431364
4   740000  13.514405   19.497166     5.869232
5    46000  10.736397   15.489346     4.662758
6   730000  13.500800   19.477537     5.863323
7    18000   9.798127   14.135709     4.255273
8    59000  10.985293   15.848427     4.770852
9   160000  11.982929   17.287712     5.204120